/* body {
  background: #222
    url("https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?cs=srgb&dl=pexels-pixabay-33129.jpg&fm=jpg")
    center center no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
  align-items: center;
  position: relative;
} */

#header {
  margin-top: 20vh;
  text-align: center;
  justify-content: center;
  align-self: center;
  margin-bottom: 40px;
  font-size: 120px;
  color: rgb(246, 239, 238);
  display: flex;

}

span {
  color: red

}

.checkBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  size: 40px;
}

.container {
  margin-bottom: 30px;
}

.mr-15 {
  margin-right: 40px;
}

.navbar {
  background-color: #080808;
}

/* .navbar-brand {
  color: rgb(246, 239, 238);
  font-size: 30px;
  float: right;
} */
/* .streamService {
  color: red;
  margin-right: 40px;
} */

/* .col-md-4 {
    margin-left: 6rem;
  } */

/* CSS for Movie Display*/
.movie-div {
  display: flex;
  flex-direction: row;
  background-color: #ECE9E6;
  color: black;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  border: solid #000000 3px;
  flex: 1;

}

.movie-child {
  flex: 2 1 auto;
  font-style: italic;
  display: flex;
  top: 0px;
  padding-left: 10px;
  padding-right: 20px;
}

.movie-year,
.imdbRating,
.boxOffice {
  font-style: italic;
  display: flex;
  flex: 1;
  top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-around;
}

/* CSS FOR MY LIST AND MODAL */
#myList {
  float: right;
  margin-top: 1em;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  background-color: #16222a;
}

/* CSS or Search Button */
.searchButton {
  padding-left: 3em;
  padding-right: 3em;
  font-size: 1.5em;
  border-radius: 10em;
  background-color: #16222a;
}


.details-button {
  font-style: italic;
  align-items: center;
  top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  width: 100px;
  background-color: #16222a;
}

/*CSS for Media Query*/
@media only screen and (max-width: 890px) {
  .movie-div {
    flex-direction: column;
  }
}

@media only screen and (max-width: 890px) {
  .movie-div img {
    margin: auto;
  }
}

@media only screen and (max-width: 890px) {
  #header {
    margin-top: 20vh;
    text-align: center;
    justify-content: center;
    align-self: center;
    margin-bottom: 40px;
    font-size: 60px;
    color: rgb(246, 239, 238);
    display: flex;

  }
}

@media only screen and (max-width: 890px) {

  .movie-title,
  .movie-year,
  .imdbRating,
  .boxOffice {
    font-style: italic;
    display: flex;
    flex: 1;
    top: 0px;
    padding: 5px;
    margin: 0px;
    justify-content: space-around;
  }
}