/* body {
  background: #222
    url("https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?cs=srgb&dl=pexels-pixabay-33129.jpg&fm=jpg")
    center center no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
  align-items: center;
  position: relative;
} */

#header {
  margin-top: 20vh;
  text-align: center;
  justify-content: center;
  align-self: center;
  margin-bottom: 40px;
  font-size: 120px;
  color: rgb(246, 239, 238);
  display: flex;
}
span {
  color: red;
}
.checkBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  size: 40px;
}
.container {
  margin-bottom: 30px;
}
.mr-15 {
  margin-right: 40px;
}
.navbar {
  background-color: brown;
}
.navbar-brand {
  color: rgb(246, 239, 238);
  font-size: 30px;
  float: right;
}
.streamService {
  color: red;
  margin-right: 40px;
}

/* CSS FOR MY LIST AND MODAL */
#myList {
  float: right;
  margin-top: 1em;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.8rem;
}

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}

.myListModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}





/* .col-md-4 {
    margin-left: 6rem;
  } */
